/* Default light mode styles */
.app {
    background-color: #f4f4f4;
    color: #000;
  }
  
  /* Dark mode styles */
  .app.dark-mode {
    background-color: #1c1c1c;
    color: #fff;
  }
  
  /* You can add more specific dark mode styles as needed */
  